:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/veda-websites/www_veda-masters_com.git
        branch production
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path . 
    }
}
